.answer {
    width: 45%;
    padding: 10px;
    background-color: #AEABAB;
    color: #FFFFFF;
    font-weight: 700;
    border: 2px solid #AEABAB;
    border-radius: 15px;

    &:hover {
        border: 2px solid #6767D6;
    }
}